table {
    text-align: center;
    border: 2px solid var(--card-foreground);
    margin-bottom: 1em;
    border-radius: 0.7em;
}

table {
    padding: 0.2em;
    background: var(--card-foreground);
}

table td {
    padding: 0.5em;
    background: var(--card-background);
}

table th {
    background: var(--card-foreground);
    color: var(--container-background);
}

table tr {
    margin: 0.2em;
}
