table {
    text-align: center;
    border: 2px solid var(--card-foreground);
    margin-bottom: 1em;
    border-radius: 0.7em;
}

table th:nth-child(2) {
    background: var(--button-background);
    padding: 0.2em;
    border-top-right-radius: 0.6em;
}

table th:nth-child(1) {
    background: var(--button-background);
    padding: 0.2em;
    border-top-left-radius: 0.6em;
}

table tr:nth-child(5) td:nth-child(2) {
    border-bottom-right-radius: 0.60em;
}

table tr:nth-child(5) td:nth-child(1) {
    border-bottom-left-radius: 0.60em;
}

table td {
    padding: 0.2em;
    background: var(--failing-red);
}

.failing {
    background: var(--failing-red);
}

.mediocre {
    background: var(--mediocre-yellow);
}

.passing {
    background: var(--passing-green);
}